/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
    font-family: Arial;

}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    line-height: 150%;
}

a {

}
h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

/* Колонки */

.row {
    display: flex;
    margin-bottom: 14px;




}
.col {
    flex: auto;


}


/* Потом селекторы по классам */

.text-input {

}

.button {
    border: none;
    background-color: #554AF0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 4px;
    color: white;
    width: 35%;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 300px;
    border: solid 3px #EBDCF9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 1em;

}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {
    width: 85%;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    border: none;
    background-color: #554AF0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    margin: 5px;

}
